<!DOCTYPE html>
<html>
<head>
    <title>Dados do Formulário</title>
</head>
<body>
    <h4>Dados do Formulário</h4>
    <ul>

        <li><strong>Nome:</strong> <%= nome %></li>
        <li><strong>Endereço:</strong> <%= endereco %></li>
        <li><strong>CPF:</strong> <%= CPF %></li>
        <li><strong>Telefone:</strong> <%= telefone %></li>
        <li><strong>Data:</strong> <%= data %></li>
        <li><strong>Agendamento:</strong> <%= agendamento %></li>
        <li><strong>Informações Adicionais:</strong> <%= informacoesAdicionais %></li>
        <li><strong>Medicamentos Alergicos:</strong> <%= medicamentosAlergicos %></li>
        <li><strong>Especialidade Médica:</strong> <%= especialidadeMedica %></li>

    </ul>
    <a href="/">Voltar ao Formulário</a>
</body>
</html>